.button {
  border: none;
  border-radius: var(--dc-radius-8);
  display: flex;
  justify-content: center;
  outline: none;
  place-items: center;
  width: 100%;

  &.sm {
    font-size: var(--dc-px-14);
    font-weight: var(--dc-font-normal);
    gap: var(--dc-px-4);
    padding: var(--dc-px-4);
  }

  &.md {
    font-size: var(--dc-px-16);
    font-weight: var(--dc-font-semibold);
    gap: var(--dc-px-8);
    padding: var(--dc-px-8);
  }

  &.primary {
    &.contained {
      background: var(--dc-primary);
      color: var(--dc-white);

      &:hover, &:focus, &:active {
        background: var(--dc-primary-dark);
      }

      &:disabled {
        background: var(--dc-gray200);
        color: var(--dc-gray500);
      }
    }

    &.outlined {
      background: var(--dc-white);
      box-shadow: var(--dc-shadow-1) var(--dc-primary) inset;
      color: var(--dc-primary);

      &:hover, &:focus, &:active {
        background: var(--dc-surface);
        box-shadow: var(--dc-shadow-1) var(--dc-primary-dark) inset;
        color: var(--dc-primary-dark);
      }

      &:disabled {
        background: var(--dc-white);
        box-shadow: var(--dc-shadow-1) var(--dc-gray300) inset;
        color: var(--dc-gray500);
      }
    }
  }

  &.secondary {
    color: var(--dc-black);

    &.contained {
      background: var(--dc-gray200);

      &:hover, &:focus, &:active {
        background: var(--dc-gray300);
      }

      &:disabled {
        background: var(--dc-gray200);
        color: var(--dc-gray500);
      }
    }

    &.outlined {
      background: var(--dc-white);
      box-shadow: var(--dc-shadow-1) var(--dc-gray200) inset;

      &:hover, &:focus, &:active {
        box-shadow: var(--dc-shadow-1) var(--dc-gray300) inset;
      }

      &:disabled {
        box-shadow: var(--dc-shadow-1) var(--dc-gray300) inset;
        color: var(--dc-gray500);
      }
    }
  }
}
