.slider {
  display: flex;
  height: var(--dc-px-24);
  padding: 0 var(--dc-px-8);
  place-items: center;
  width: 100%;
}

.track {
  background: var(--dc-gray300);
  border-radius: var(--dc-radius-2);
  height: 4px;
  width: 100%;

  .fill {
    background: var(--dc-primary);
    border-radius: var(--dc-radius-2);
    height: 100%;
  }
}

.thumb {
  background: var(--dc-primary);
  border: 2px solid var(--dc-white);
  border-radius: 50%;
  height: 16px;
  top: 50%;
  width: 16px;

  &:hover {
    box-shadow: 0 0 0 7px #4b7a8a14;
  }
}
