.slider {
  display: flex;
  height: 24px;
  max-width: 178px;
  place-items: center;
  width: 100%;
}

.track {
  background: var(--dc-gray300);
  border-radius: 2px;
  height: 4px;
  width: 100%;

  .fill {
    background: var(--dc-primary);
    border-radius: 2px;
    height: 100%;
    width: 30%;
  }
}

.thumb {
  background: var(--dc-primary);
  border: 2px solid var(--dc-white);
  border-radius: 50%;
  height: 16px;
  top: 50%;
  width: 16px;

  &:hover {
    box-shadow: 0 0 0 7px #4b7a8a14;
  }
}
