.input {
  background-color: var(--dc-white);
  border: none;
  border-radius: var(--dc-radius-8);
  box-shadow: var(--dc-shadow-1) var(--dc-gray400) inset;
  color: var(--dc-black);
  font-size: var(--dc-px-16);
  font-weight: var(--dc-font-normal);
  height: var(--dc-px-32);
  padding: var(--dc-px-8) var(--dc-px-8) var(--dc-px-8) var(--dc-px-16);
  width: 100%;

  &::placeholder {
    color: var(--dc-gray600);
  }

  &:hover {
    box-shadow: var(--dc-shadow-1) var(--dc-gray500) inset;
  }

  &:focus {
    box-shadow: var(--dc-shadow-2) var(--dc-primary) inset;
    outline: none;

    &::placeholder {
      color: transparent;
    }
  }

  &:disabled {
    background-color: var(--dc-gray50);
    box-shadow: var(--dc-shadow-1) var(--dc-gray400) inset;
    color: var(--dc-gray500);
  }
}


