.input {
  background-color: var(--dc-white);
  border: none;
  border-radius: 8px;
  box-shadow: 0 0 0 1px var(--dc-gray400) inset;
  color: var(--dc-black);
  font-size: 16px;
  font-style: normal;
  height: 32px;
  max-width: 178px;
  padding: 8px 8px 8px 16px;
  width: 100%;

  &::placeholder {
    color: var(--dc-gray600);
  }

  &:hover {
    box-shadow: 0 0 0 1px var(--dc-gray500) inset;
  }

  &:focus {
    box-shadow: 0 0 0 2px var(--dc-primary) inset;
    outline: none;

    &::placeholder {
      color: transparent;
    }
  }

  &:disabled {
    background-color: var(--dc-gray50);
    box-shadow: 0 0 0 1px var(--dc-gray400) inset;
    color: var(--dc-gray500);
  }
}


