.input {
  background-color: var(--dc-white);
  border: 1px solid var(--dc-gray400);
  border-radius: var(--dc-input-border-radius);
  color: var(--dc-black);
  font-size: var(--dc-font-form-size);
  font-style: normal;
  font-weight: var(--dc-font-form-weight);
  height: 32px;
  max-width: 178px;
  padding: 8px 8px 8px 16px;
  width: 100%;

  &::placeholder {
    color: var(--dc-gray600);
  }

  &:hover {
    border-color: var(--dc-gray500);
  }

  &:focus {
    border: 2px solid var(--dc-primary);
    outline: none;
    padding: 7px 7px 7px 15px;

    &::placeholder {
      color: transparent;
    }
  }

  &:disabled {
    background-color: var(--dc-gray50);
    border-color: var(--dc-gray400);
    color: var(--dc-gray500);
  }
}


