.card {
  background: #ffffff;
  border: 1px solid #dddddd;
  border-radius: var(--dc-radius-8);
  padding: var(--dc-px-40);

  max-width: 367px;
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 8px;

  .header {
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 1rem;

    &:first-child {
      margin-top: 0;
    }
  }
}
