@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans&display=swap');
@import "variables.css";

:root {
  font-family: var(--dc-font-family), serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;

  color-scheme: light dark;
  color: var(--dc-black);
  background-color: var(--dc-gray100);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;
  padding: 2rem;
  place-items: flex-start;
  text-align: left;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
