.flexColumn {
  display: flex;
  flex-direction: column;
}

.flexRow {
  display: flex;
  align-items: flex-end;
}

.flexJustifyStretch {
  justify-content: stretch;
}

.gap8 {
  gap: var(--dc-px-8);
}

.gap16 {
  gap: var(--dc-px-16);
}

.gap24 {
  gap: var(--dc-px-24);
}

.marginBottom24 {
  margin-bottom: var(--dc-px-24);
}

.marginBottom32 {
  margin-bottom: var(--dc-px-32);
}
